@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Nunito:wght@200&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  /* position: relative; */
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  padding-left: 20px;
  font-size: 50px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #000000;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ffffff;
  color:black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}












.MenuWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position:absolute;
    z-index: 1;
    overflow-x:hidden ;
    
}

    body {
        background: #fff;
        font-family: 'Varela Round', sans-serif;
        overflow-x:hidden;
    }
   
    #sidebarMenu {
        height: 100%;
        
        left: 0;
        width: 250px;
        margin-top: 60px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: #050505;
        opacity: 80%;
    }
    .sidebarMenuInner{
        margin:0;
        padding:0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li{
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li span{
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }
    .sidebarMenuInner li a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }
   
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 22px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

.nav>a   {
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 50px;
    }

.nav a:hover {
    color: white;
    background-color: black;
}
.nav { 
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Nunito';
    font-size: 25px;
    background-color: black;
    height: 50px;
    opacity: 80%;
}

h2>a, h3>a, h4>a, h5>a {
    text-decoration: none;
    color: white;
}
.mainPart  a:hover {
    color: black;
    background-color: white;

}
body {
    
    background-image: url('./plant3.jpg');
    height: 100%;
    /* margin-left: 0;
    margin-right: 0; */
}

h1 {
    display: flex;
    width: 660px;
    font-family: 'Noto';
    font-size: 85px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
    margin: 0 0 0 0;}

h2, h3, h4, h5 {
    text-align: center;
    font-family: 'Nunito';
    font-size: 25px;}

.middle {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: white;
    width: 630px;
    opacity: 80%;}


.mainPart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    padding-left: 330px;
    padding-right: 330px;
    opacity: 80%;
    z-index: 0;       }

/* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-family: monospace black;
    text-decoration: none;
    opacity: 80%;
    text-transform: none;}

footer>a {
    color: black;
    text-decoration: none;
    text-transform: none;}

footer a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    height: 20px;} */

/* basic contact */
footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color: black;
    opacity: 90%;
    width: 100%;
    height: 380px;

}

/* .wrapper{
    display: flex;
    width: 100%;} */


.overlay {
    width: 900px;
}